* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  zoom: 0.8;
}

.MuiTooltip-popper {
  zoom: calc(1 / 0.8);
}

@media (max-width: 810px) {
  html {
    zoom: 1;
  }
  .MuiTooltip-popper {
    zoom: 1;
  }
}

html, body, #root {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}