.game-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 900px;
  border: 1px solid #e0e0e0;
  margin-left: auto;
  margin-right: auto;
  gap: 0.7rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@media (max-width: 810px) {
  .game-info {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    gap: 0.3rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: auto;
    max-width: none;
    margin-bottom: 0;
  }
}
